openapi: 3.0.3

info:
  title: ChaplinPoopManager
  description: |-
    This is the contract for the communication between backend and front or sensors
  version: 1.0.0
  contact:
    name: Santiago Sanchez
    url: gaugelife.co
    email: email.gaugelife@gmail.com



servers:
  - url: https://render.com/v1
    description: Production Server



tags:
  - name: HealthCheck
  - name: Auth
    description: Services related to users
  - name: Pets
    description: Services related to users

paths:
  /healtch-check:
    get:
      tags:
        - HealthCheck
      summary: Validates that the service is running.
      description: Responds a life check of the service
      operationId: getHealthCheck
      responses:
        '200':
          description: Service is running
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArregloUsuarios'
        '500':
          description: Error interno del servidor.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/create-user:
    post:
      tags:
        - Auth
      summary: Create a user
      description: Create a user on database. Returns the user
      operationId: createUser
      parameters:
        - name: limite
          in: query
          description: Número máximo de usuarios a devolver
          required: false
          schema:
            type: integer
            format: int32
      # Las posibles respuestas de la operación.
      responses:
        '200':
          description: Operación exitosa. Devuelve una lista de usuarios.
          content:
            application/json:
              schema:
                # Referencia a un componente reutilizable.
                $ref: '#/components/schemas/ArregloUsuarios'
        '500':
          description: Error interno del servidor.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # Ruta para operaciones sobre un recurso específico, identificado por un ID.
  /usuarios/{usuarioId}:
    get:
      tags:
        - Usuarios
      summary: Obtener un usuario por su ID
      description: Devuelve los detalles de un usuario específico.
      operationId: getUsuarioPorId
      parameters:
        - name: usuarioId
          # El parámetro está en la ruta (path).
          in: path
          description: ID del usuario a obtener
          required: true
          schema:
            type: string
            format: uuid # o integer, dependiendo de tu sistema
      responses:
        '200':
          description: Usuario encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Usuario'
        '404':
          description: Usuario no encontrado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

# Componentes reutilizables. Esto ayuda a mantener tu especificación limpia y organizada (DRY).
components:
  # Esquemas de datos (modelos).
  schemas:
    Usuario:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: El identificador único del usuario.
          example: '123e4567-e89b-12d3-a456-426614174000'
        nombre:
          type: string
          example: 'Juan'
        apellido:
          type: string
          example: 'Pérez'
        email:
          type: string
          format: email
          example: 'juan.perez@email.com'
    ArregloUsuarios:
      type: array
      items:
        $ref: '#/components/schemas/Usuario'
    Error:
      type: object
      properties:
        codigo:
          type: integer
          example: 404
        mensaje:
          type: string
          example: 'Recurso no encontrado.'

  # Esquemas de seguridad.
  securitySchemes:
    # Ejemplo de autenticación con Bearer Token (JWT).
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

# Define qué esquemas de seguridad se aplican globalmente a toda la API.
# También se puede aplicar a operaciones específicas.
security:
  - bearerAuth: []